<!DOCTYPE html>
<html th:replace="layouts/masterlayout :: layout(~{::main})" lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<main role="main">
  <div class="container mt-4 p-3">
    <div class="row">
      <div class="col-md-4 mt-3  text-center p-5">
        <div class="d-flex flex-md-column">
          <a href=""  th:href="@{'/ui/product/category?id=1'}" class="bg-success text-white py-3 px-5 mb-3 shadow rounded text-decoration-none">Diary</a>
          <a href="" th:href="@{'/ui/product/category?id=2'}" class="bg-success text-white py-3 px-5 mb-3 shadow rounded text-decoration-none">Meals</a>
          <a href="" th:href="@{'/ui/product/category?id=3'}" class="bg-success text-white py-3 px-5 mb-3 shadow rounded text-decoration-none">Bakery</a>
          <a href=""  th:href="@{'/ui/product/category?id=4'}" class="bg-success text-white py-3 px-5 mb-3 shadow rounded text-decoration-none">Fruits &#38; Vegetables</a>
        </div>
      </div>
      <div class="col-md-8">
        <div   class="card rounded shadow custom-bg">
          <div class="card-header">
            <h3>Products</h3>
          </div>
          <table class="table table-striped">
            <thead class="thead-dark">

            <tr>
              <th>image</th>
              <th>Description</th>
              <th>price</th>
              <th>update</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="pro : ${products}">
              <td><img src="" th:src="@{'/bootstrap/images/products/'+${pro.description}+'.png'}" class="img-thumbnail" alt="image"></td>
              <td th:text="${pro.name}"></td>
              <td th:text="${'$'+pro.price}"></td>
              <td><a href="" th:href="@{'/ui/product/purchase?id='+${pro.id}}" type="button" class="btn btn-outline-success">Purchase</a></td>
            </tr>

            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>
</main>
</body>
</html>